@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  box-sizing: border-box;
  overflow-x: hidden;
}

@layer base {
  h1 {
    @apply text-[42px] font-medium mobile:text-[22px];
  }

  h2 {
    @apply text-[32px] font-medium mobile:text-[22px];
  }
}

@layer components {
  /* 커스텀 날짜 입력 필드 스타일 */
  .custom-date-input {
    @apply relative border-b-2 p-2 w-2/3 mobile:w-full;
  }

  .custom-date-input[type="date"]::-webkit-calendar-picker-indicator {
    @apply absolute right-0 top-0 w-full h-full cursor-pointer opacity-0;
  }

  .custom-date-input::before {
    content: attr(data-placeholder);
    @apply bg-white mobile:bg-gray-200 text-gray-400 absolute left-2 top-1/2 transform -translate-y-1/2 pointer-events-none z-10 w-full mobile:left-0;
  }

  .custom-date-input:focus::before,
  .custom-date-input:valid::before {
    @apply hidden;
  }
}